# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/
RecordOnCalendar/
RecordOnCalendar/recordings
RecordOnCalendar/config.txt
RecordOnCalendar/recorded.dat
